body {
    background: rgb(181,181,181);
    background: radial-gradient(circle, rgba(181,181,181,1) 0%, rgba(255,255,255,1) 100%);
}
#webcam {
    z-index: -1;
    left: 0;
    top: 0;
}

#marco {
    position: absolute;
    left: 0;
    top: 0;
}
#nivel-felicidad {
    text-align: right;
}
